
<head>
    <meta charset="UTF-8">
    <title>{% block title %}New ToDo{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/new.css') }}">
    <style>
        body {
            background-image: url('{{ asset('img/back.jpg') }}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

    </style>
</head>
{% block body %}
    <h1>Create new ToDo</h1>

    {{ include('to_do/_form.html.twig') }}

    <a href="{{ path('app_to_do_index') }}">Back to list</a>
{% endblock %}
